.aider*
.env
.architecture_and_plan.md
.pdr.md
pdf_service/storage/*
pdf_service/models/*
pdf_service/magic-pdf.standalone.json
node_modules/*
pdf_service/GPU_IN_DOCKER.md
pdf_service/scripts/download_models.py
pdf_service/scripts/download_models.py
*.pyc
*.log

*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test
*.env.production
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

package-lock.json
package.json
migrate_images.sh
